<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I specialize in transforming messy, complex data into meaningful insights through predictive models, automation, and interactive dashboards.
          My work isn't just about crunching numbers—it's about solving real-world problems with elegant data-driven solutions.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether it's forecasting sales trends, optimizing workflows, or decoding structural data, I bring a mix of analytical thinking, 
          machine learning expertise, and a knack for storytelling with data. I'm always exploring the intersection of engineering, data science, and business—one project at a time. </p>
      </div>
    </div>
  </div>
</section>
